body{
    background-color: rgb(234, 202, 221);
}
.navbar{  
    display: block;
    padding-top: 10;
    padding-bottom: 3;
    background-color: rgb(105, 2, 105);
    border-radius: 20px;
    
}
.navbar li{
    font-family:cursive;
    padding-right: 50;
    float: right;
    font-weight: 500;
    font-size: 20;
    color: white;

}
.navbar li:hover{
    border-radius: 10;
    font-weight: 1000;
    color: rgba(226, 124, 124);
   
}
.nav_name{
    font-size: 25;
    margin-top: -20;
    font-family:cursive;
    margin-left:100 ;
    color: white;

}

.info{
    width:400;
    margin-top: 150;
    float: right;
    margin-right: 50;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20;
    height: 300;
    background-color: rgb(105, 2, 105,0.9);
    border-radius: 20%;
    
    
}
.info_link{
    text-decoration: none;
}
.info_link h3{
    width: 150;
    text-align: center;
    margin-left: 125;
    background-color: rgb(249, 109, 109);
    border-radius:10px ;
    font-size:20;
    color: aliceblue;
}

.info_link h3:hover{
    background-color:white ;
    color: rgb(83, 128, 200);
}
.info img{
    width: 45;
}
.About{
    background-color: rgb(105, 2, 105);
    margin: 10 70 20 70 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
   
}
.profile_photo{
    margin: 40 30;
    border-radius: 20px;
    width: 300;
    height: 300;
   
}
h2{
    font-family: cursive;
    color: rgb(255, 255, 255);
    margin-top:700;
    margin-left: 20;
    font-size: 30;
}
.ab_side{
    
    color: white;
    font-size: 15px;
}

th,td{
    background-color: rgb(255, 212, 239);
}

.About_me{
    background-color:rgba(0, 0,0, 1);
    padding-bottom: 20;
    border-radius: 10px;
    
    
}
.tab{
    margin-left: 70px;
    background-color: rgb(105, 2, 105);
    margin: 10 70 20 70 ;
    padding: 20px;
    border-radius: 20px;
}

.awards{
    margin: 10 70 20 70 ;
    background-color: rgb(105, 2, 105);
    padding: 20px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}
.projects{
    margin-top: 40;
    background-color: black;
    border-radius: 10px;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    color: white;   
}
@media (min-width:1100px){
.items{
    background-color: rgb(105, 2, 105);
    padding: 20px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    width: 300;
    height: 200;
    margin-top: 20;
    margin-bottom: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
}
@media (max-width:1100px){
    .items{
        background-color: rgb(105, 2, 105);
        padding: 20px;
        color: white;
        font-size: 15px;
        border-radius: 20px;
        width: 200;
        height: 200;
        margin-top: 20;
        margin-bottom: 20;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    }
    @media (max-width:800px){
        .items{
            background-color: rgb(105, 2, 105);
            padding: 20px;
            color: white;
            font-size: 15px;
            border-radius: 20px;
            width: 150;
            height: 200;
            margin-top: 20;
            margin-bottom: 20;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        }

.items h6{
    font-size: 20px;
}
.items:hover{
    color: rgba(226, 124, 124);
    
}
.items h6{
    text-decoration: none;
}
.proj_colm{
    border-radius: 20px;
    margin-top: 40;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.proj_name{
    color: white;
    font-family: cursive;
    margin: 5 20;
    font-size: 30;

}
.contact{
    background-color: black;
    color: white;
    font-size: 25;
    font-family: cursive;
    padding: 20;
    margin-top: 40;
   
    border-radius: 20px;
}
.contact th, .contact td{
    font-size: 15;
    background-color: black;
    color: rgb(225, 89, 222);
    text-align:left;
    
}


